:root {
  --background-color-one: hsl(222, 26%, 31%);
  --background-display-one: hsl(223, 31%, 20%);
  --background-screen-one: hsl(224, 36%, 15%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#background-calc {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color-one);
}
#container {
  margin: 40px auto;
  width: 90%;
  max-width: 600px;
}
.header-calc {
  display: flex;
  justify-content: space-between;
}
.theme-box {
  display: flex;
}
.theme-box span {
  margin: 20px;
  text-transform: uppercase;
}
.theme-labels {
  display: flex;
  justify-content: space-between;
}
.display-calc {
  background-color: var(--background-display-one);
  border-radius: 5px;
  padding: 20px;
  font-size: 2rem;
  text-align: end;
  margin-bottom: 20px;
}
.buttons-calc {
  padding: 20px;
  background-color: var(--background-screen-one);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
}
.buttons-calc > button {
  padding: 10px;
  font-size: 2rem;
}
.buttons-calc .reset {
  grid-row: 5 / -1;
  grid-column: 1 / 3;
}
.buttons-calc .equal {
  grid-row: 5 / -1;
  grid-column: 3 / -1;
}
