:root {
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);

    --dark-grayish-red: hsl(0, 6%, 24%);
}

html{
    font-size: 62.5%;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    
} 

#main-container {
    height: 100vh;
    width: 100vw;
    
}
.header-container {
    margin: 2em;
}
.header-logo img{
    display: block;
    height: 2.5vh;
}
.section-hero img {
    width: 100%;
    height: 30vh;
}
.section-content {
    width: 80%;
    margin: auto;
    position: relative;
}
.section-content-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    font-size: 3.2em;
    letter-spacing: .3em;
    font-weight: 600;
    color: var(--dark-grayish-red);
}
span:first-child {
    color: var(--desaturated-red);
    font-weight: 300;
}
.section-content-description {
    text-align: center;
    font-size: 1.4em;
    font-weight: 400;
    color:var(--desaturated-red);
    opacity: .8;
    line-height: 1.6;
}
.section-content-form {
    position: relative;
    display: inline-flex;
    width: 100%;
    
}
.section-input{
    border-radius: 1.5em;
    padding: .8em;
    font-size: 1.6em;
    outline: none;
    border: none;
    box-shadow: 0px 0px 2px var(--dark-grayish-red);
    width: 100%;
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}
.section-input:focus {
    border: 2px solid var(--soft-red);
}
.input-icon-error {
    position: absolute;
    top: 10px;
    right: 90px;
    bottom: 0;
    visibility: hidden;
}
.input-message {
    color:var(--soft-red);
    font-size: 1.4em;
    margin-left: 20px;
    margin-top: 10px;
    visibility: hidden;
}
.section-input::placeholder {
    color: var(--desaturated-red);
    font-size: 1em;
    opacity: .5;
}
.section-button {
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 2em;
    font-size: 1.4em;
    height: auto;
    width: 60px;
    border: none;
    outline: none;
}
.section-button:hover {
    cursor: pointer;
}
.section-button-active {
    outline: none;
    transform: translateX(10px);
    background: hsl(0, 75%, 92%);
}


.attribution {
    margin-top: 6em;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    color:var(--desaturated-red);
  }

  .attribution a {
    color: hsl(228, 45%, 44%);

  }
  .attribution a:hover {
    color: hsl(228, 79%, 62%);
  }

.screen-reader-text {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  @media (min-width:420px) {
    
    .header-container {
        margin: 3em;
    }
    .section-content {
        width: 70%;
        margin: 5em auto;
    }
    .section-content-title {
        font-size: 4em;
    }
    .section-content-description {
        font-size: 1.6em;
        
    }
    .section-button {
        width: 80px;
      }
    
  }

  @media (min-width:720px) {
    .section-hero img {
        
        height: 60vh;
    }
    
  }
  @media(min-width: 1200px) {

      #main-container {
          background-image: url(./../images/bg-pattern-desktop.svg);
          background-position: left bottom;
          background-repeat: no-repeat;
          background-size:contain;

          display: grid;
          grid-template-areas: "header hero"
                                "content hero"
                                "footer hero";
      }
      .header-container {
        grid-area: header;
        width: 50%;
        margin: auto;
      }
      .header-logo img {
          height: auto;
      }
      .section-hero {
        grid-area: hero;
      }
      .section-hero img {
          height: 100vh;
          width: 45vw;
      }
      .section-content {
        grid-area: content;
        width: 50%;
        margin: auto;
      }
      .section-content-title {
          align-items: flex-start;
          font-size: 5.5em;
          margin-bottom: 20px;
      }
      .section-content-description {
          text-align: left;
          font-size: 1.4em;
          margin-bottom: 20px;
      }
      .section-input {
          padding: 1em;
      }
      .input-icon-error {
        top: 15px;
    }
      
      .footer-container {
          grid-area: footer;
      }
    }

    @media(min-width:1440px) {

        .section-content {
            width: 55%;
           
          }
          .section-content-title {
             
              font-size: 6em;
              margin-bottom: 20px;
          }
          .section-content-description {
            margin-bottom: 40px;
              font-size: 1.6em;
          }
        
    }
    @media(min-width:1600px) {
        .section-content {
            width:46%;
           
          }
          .section-content-description {
            margin-bottom: 40px;
              font-size: 1.8em;
          }
    }
