:root {
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}
html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url(../images/bg-mobile.svg);
    background-color: var(--violet);
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center top;
    
    
}

#container {
    width: 78vw;
    margin: auto;
}

.header-logo {
   
    height: 4.5vh;
    margin: 3em 0 6.8em;  
}
.header-logo img {
    max-height: 100%;;
 
}
.main-container {
    width: 100%;
}
.main-illustration {
    margin-bottom: 6em;
    
}
.main-illustration img{
    max-width: 100%;
    
}
.main-content {
    
    text-align: center;
}
.main-content-title, .main-content-subtitle {
    font-size:2.2em;
    font-weight: 600;
    color: white;
    line-height: .6;
}
.main-content-description {
    margin-top: 1.071em;
    font-size: 1.4em;
    font-weight: 400;
    color: white;
    line-height: 1.4;
    padding:0 .285em;
}
.button {
    display: inline-block;
    text-align: center;
    margin: 1.25em auto 0;
    font-size: 1.2em;
    text-decoration: none;
    padding:1.25em 5.84em;
    background-color: white;
    border-radius: 50px;
    box-shadow: 1px 1px 5px black;
    color: var(--violet);
    
}
.button:hover {
    background-color: var(--soft-magenta);
    color: white;
}
.social-medias {
    margin-top: 1.25em;
    text-align: center;
    word-spacing: 0.625em;
    font-size: 1.6em;
    font-weight: 400;
}
.fab {
    width: 30px;
    height: 30px;
    display: inline-block;
    color: white;
    border-radius: 50%;
    border: 1px solid white;
    text-align: center;
    line-height: 30px;
}
.fab:hover {
    color: var(--soft-magenta);
    border-color: var(--soft-magenta) ;
}

.attribution {
    margin-top: 5em;
    font-size: .7em;
    font-weight: 700;
    text-align: center;
    color: white;
  }
  .attribution a {
    color: black;
    opacity: .7;
  }
  .attribution a:hover {
      opacity: 1;
  }

  @media(min-width: 420px) {

    .header-logo {
        margin: 3em 0 9em;  
    }
    .main-content-title, .main-content-subtitle {
        font-size:3em;
    }

    .main-content-description {
        margin-top: 1.25em;
        font-size: 1.6em;
        padding: 0 1.875em;
    }

    .button {
        margin-top: 1.875em;
        font-size: 1.6em;
        padding:.9375em 5.625em;
    }
    .footer-container {
        margin-top: 2.67em;
        font-size: 1.5em;
    }
    .fab {
        width: 40px;
        height: 40px;
        line-height: 40px; 
    }
  }
  @media(min-width:1440px){

    body {
        background-image: url(../images/bg-desktop.svg);
        background-attachment: fixed;  
        background-position: left center;
        background-size: contain;
    }
    #container {
        width: 90vw;
        height: 100vh;
    }
    .header-logo {
        height: 50px;
        margin-top: 50px;
        margin-bottom: 90px;
    }
    .main-container {
        width: 100%;
        display: flex;
    }
    .main-illustration {
        margin-bottom: 0;
       
    }
    .main-illustration img {
        max-width: none;
        min-height: 580px;
    }
  
    .main-content {
        text-align: left;
        padding: 4em 8em;
        width: 44%;
    }
    .main-content-title, .main-content-subtitle {
        line-height: .9;
        font-size: 4em;
    }
    .main-content-description {
        padding-left: 0;
        margin-top: 2.22em;
        line-height: 1.5;
        font-size: 1.8em;
    }
    
    .button {
        margin-top: 2em;
        font-size: 2em;
        padding:1em 3.5em;
    }
    .footer-container {
        margin-top: 0.667em;
    }
    .social-medias {
        margin-right: 10.416em;
        text-align: end;
}   

  }
  