:root {
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}
html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url(../images/bg-mobile.svg);
    background-color: var(--violet);
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center top;
    
}

#container {
    width: 78vw;
    margin: auto;
}

.header-logo {
   
    height: 4.5vh;
    margin: 3em 0 6.8em;  
}
.header-logo img {
  max-height: 100%;;
 
}
.main-container {
    width: 100%;
}
.main-illustration {
    margin-bottom: 60px;
    
}
.main-illustration img{
    max-width: 100%;
    
}
.main-content {
    
    text-align: center;
}
.main-content-title, .main-content-subtitle {
    font-size:2.2em;
    font-weight: 600;
    color: white;
    line-height: .6;
}
.main-content-description {
    margin-top: 15px;
    font-size: 1.4em;
    font-weight: 400;
    color: white;
    line-height: 1.4;
    padding:0 4px;
}
.button {
    display: inline-block;
    text-align: center;
    margin: 15px auto 0;
    font-size: 1.2em;
    text-decoration: none;
    padding:15px 70px;
    background-color: white;
    border-radius: 50px;
    color: var(--violet);
    
}
.footer-container {
    margin-top: 20px;
    text-align: center;
    word-spacing: 10px;
    font-size: 10px;
}
.fab {
    display: inline-block;
    color: white;
    border-radius: 100%;
    border: 1px solid white;
    padding: 10px;
    margin-bottom: 10px;
}

.attribution {
    margin-top: 5em;
    font-size: .7em;
    font-weight: 700;
    text-align: center;
    color: white;
  }
  .attribution a {
    color: black
  }

  @media(min-width: 420px) {

    .header-logo {
        margin: 3em 0 9em;  
    }
    .main-content-title, .main-content-subtitle {
        font-size:3em;
    }

    .main-content-description {
        margin-top: 20px;
        font-size: 1.6em;
        padding: 0 30px;
    }

    .button {
       margin-top: 30px;
        font-size: 1.6em;
        padding:15px 90px;
    }
    .footer-container {
        margin-top: 40px;
        font-size: 15px;
    }
    .fab {
        width: 40px; 
        margin-bottom: 20px;
    }
  }
  @media(min-width:1440px){

    body {
        background-image: url(../images/bg-desktop.svg);
        background-position: left bottom;
        background-size: contain;
          
    }
    #container {
        width: 90%;
    }
    .main-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .button {
        margin-top: 40px;
        font-size: 2em;
        padding:20px 70px;
    }
   
  }
  