@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: hsl(240, 78%, 98%);
  overflow-y: hidden;
  position: relative;
}
.image-background {
  position: absolute;
  z-index: -1;
}
.image-background.bg-top {
  top: -30px;
  right: -200px;
}
.image-background.bg-bottom {
  display: none;
}
#container {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}

.title {
  font-size: 2.5em;
  /* margin-bottom: 20px; */
  color: hsl(232, 13%, 33%);
}

.text-label {
  display: inline-block;
  flex-direction: row;
  font-size: 1.5em;
  color: hsl(234, 14%, 74%);
  margin: 30px 0 60px;
}
.checkbox-toggle {
  display: inline-block;
  width: 40px;
  height: 25px;
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  border-radius: 20px;
  position: relative;
  margin: -5px 15px;
}
.checkbox-toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  background-color: white;
  margin: 3px;
  transition: all 0.5s;
}
#checkbox:checked + .text-label .checkbox-toggle::before {
  transform: translateX(15px);
}
#checkbox:checked ~ #section-cards .card .price-monthly {
  display: block;
}
#checkbox:checked ~ #section-cards .card .price-annually {
  display: none;
}
.card {
  padding: 30px;
  max-width: 350px;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 8px;
  margin: 20px auto;
}
.card-title {
  font-size: 1.5em;
  color: hsl(232, 13%, 33%);
  margin-bottom: 15px;
}
.card p {
  font-size: 1.5em;
  padding: 15px;
  color: hsl(232, 13%, 33%);
  border-top: 1px solid hsl(234, 14%, 74%);
}
.card.professional {
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}
.card.professional .card-title,
.card.professional p {
  color: hsl(240, 78%, 98%);
}
.card .card-price {
  font-size: 4em;
  border: none;
  color: hsl(232, 13%, 33%);
}
.card .price-monthly {
  display: none;
}
.card.professional .button-professional {
  color: hsl(240, 78%, 98%);
}
.card.professional .learn-more {
  background: hsl(240, 78%, 98%);
  color: hsl(237, 63%, 64%);
}
.card.professional .learn-more:hover {
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: hsl(240, 78%, 98%);
  border: 1px solid hsl(240, 78%, 98%);
}
.card .button {
  padding: 15px 0;
  font-size: 1em;
}
.learn-more {
  text-decoration: none;
  font-size: 1.3em;
  color: hsl(240, 78%, 98%);
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  display: inline-block;
  width: 100%;
  padding: 15px;
  margin-top: 15px;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 0.07em;
}
.learn-more:hover {
  background: white;
  color: hsl(237, 63%, 64%);
  border: 1px solid hsl(237, 63%, 64%);
}
.attribution {
  color: hsl(232, 13%, 33%);
  font-size: 1em;
}
.attribution a {
  color: hsl(237, 63%, 64%);
}
.attribution a:hover {
  color: blue;
}
.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

@media (min-width: 900px) {
  .bg-top {
    right: 0px;
  }
  .bg-bottom {
    bottom: 0;
    left: 0;
    display: block;
  }
  #section-cards {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  }

  .title {
    margin-top: 50px;
    font-size: 3em;
  }
  .text-label {
    margin-top: 50px;
  }

  .checkbox-toggle {
    width: 50px;
    height: 30px;
    margin: -5px 15px;
  }
  .checkbox-toggle::before {
    height: 22px;
    width: 22px;
    margin: 4px;
  }
  #checkbox:checked + .text-label .checkbox-toggle::before {
    transform: translateX(20px);
  }
  .card {
    width: 350px;
    margin-left: 0;
    margin-right: 0;
  }
  .card.professional {
    margin-top: 0;
    margin-bottom: 0;
    padding: 50px 30px;
  }
  .card-title {
    font-size: 2em;
  }
  .card .card-price {
    font-size: 6em;
  }
}
